<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8" />
        <title>Toontown Invasion Tracker - Overlay</title>
        <link rel="stylesheet" href="overlay.css" />
        <link rel="stylesheet" href="../../index.css" />
        <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    </head>

    <body>
        <button class="button">
            <div class="base-size">
                <img id="toonImage" class="fade" style="width: 90px; height: 90px; object-fit: contain; object-position: 50% 50%;" src="">
                <span id="district" class="fade">No Data</span>
                <span id="invasion" class="fade">No Data</span>
            </div>

        </button>
    </body>

    <script src="overlay.js"></script>

</html>