<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8" />
    <title>Toontown Invasion Tracker</title>
    <link rel="stylesheet" href="main.css" />
    <link rel="stylesheet" href="../../index.css" />
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
  </head>

  <body class="main">
    <div id="topbar">
      <div class="controls">
        <button class="topbar-button" id="close-button"></button>
        <button class="topbar-button " id="minimize-button"></button>
      </div>
      <div class="draggable">

      </div>
    </div>

    <div class="content">
      <div class="content-container">
        <h2 class="content-title">Toontown Rewritten Invasion Tracker</h2>

        <h3>General Settings</h3>
        <br>
        <div>
          <button id="toggle-overlay">Enable Overlay</button>
          <button>Start on startup</button>

        </div>

      </div>
    </div>
    <footer>
      <span style="color: darkblue;" id="local-status">Local is not connected</span>
    </footer>
  </body>

  <script src="main.js" type="module"></script>

</html>